

@font-face {
    font-family: fonte;
    src: url(fonte.ttf);
}
*{
    font-family: 'fonte';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: orange;
}

body {
    font-size: 100%;
    background-color: #efb88655;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    background-color: #5382a17c;
}
.menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    color: #5382a1;
    font-size: 18px;
}
.cabecalho-menu-item:hover{
    color: orange;
}

.conteudo{
    margin-bottom: 2%;
    border-top: 0.4px solid bisque ;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.conteudo-principal-escrito-titulo{
    font-weight: 300;
    font-size: 80px;
    color: #5382a1;
}

.conteudo-principal-escrito-subtitulo{
    font-size: 40px;
    color: orange;
}

.conteudo-principal-escrito-botao{
    background-color: orange;
    color: #5382a1;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    color: orange;
    border-top: 0.4px solid orange;
    padding-top: 48px;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-texto{
    color: orange;
    font-size: 18px;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid bisque;
    background-color: #5382a17c;
}

.rodape-imagem{
    height: 50px;
    display: block;
    margin: 0 auto;

}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 23px;
}

.formulario-titulo{
    color: orange;
    font-size: 60px;
}

fieldset{
    border: none;
}

.formulario-botao{
    background-color: orange;
    color: #5382a1;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
}
.conteudo2{
    margin-top: 5%;
    margin-bottom: 2%;
    border-top: 0.4px solid bisque ;
}
.conteudo2-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo2-principal-texto{
    margin-top: 5%;
    margin: 2%;
}

.conteudo2-secundario{
    margin: 2%;
}

.conteudo2-secundario-texto{
    margin-top: 2%;
    margin-bottom: 2%;
}

.conteudo2-secundario-subtitulo{
    font-size: 40px;
    color: #5382a1;
}

.conteudo2-secundario-tabela{
    margin: 2%;
    margin-top: 5%;
    width: 40%;
    height: 20%;
}


td,th,tr{
    margin: 2%;
    padding: 1%;
    text-align: left;
 
}
